body{
    background-color: gray;
}


.fake{
    padding: 10px;
}


.img1{
    width: 100%;
    overflow: hidden;
    height: 500px;
    position: relative;
    z-index: -1;
}
.img2{
    width: 90px;
    margin-top: -15px;
   padding: 15px;
}

.first1{
    display: block;
    z-index: 1;
    margin-top: -500px;
    color: black;

}

ul{
    list-style-type: none;
    float: right;
}
ul li{
    float: left;
    padding: 20px;
    margin: 5px;
}
input{
    padding: 15px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 8px;
}
input::placeholder{
    color: black;
}
input[type="text"]{
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);

}
.d1{
    color: black;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 25px;
    
}
.d1 h3{
    background: #1852ff;
    width: fit-content;
    padding: 5px;
    margin-bottom: -20px;
}
.d1p1{
    font-style: italic;
    font-size: 30px;
    width: 60%;
}
.d1p2{
    width: 40%;
    margin-top: -25px;
}
.d1 h4{
    border: 1px solid whitesmoke;
    width: fit-content;
    padding: 5px;
}
.d2{
    width: 70%;
    display: flex;
    margin-top: 55px;
    
}
h6{
    width: 70%;
    padding: 20px;
    background: rgb(51, 51, 51) ;
    font-size: 11px;
    color: whitesmoke;
}
.d2in{
    display: inline;
    width: 65%;
    height: 250px;
    background: white;
    display: block;
    margin-top: -26px;
}
.d2in img{
    width: 200px;
    height: 200px;
    margin-left: 75%;
    display: flex;
    margin-top: 15px;
}
.d2p1{
    background: rgb(240, 67, 96);
    width: fit-content;
    padding: 5px;
    color: whitesmoke;
    margin-top: -120px;
    margin-left:15px ;
}
.d2p2{
    font-size: 25px;
    width: 70%;
    color: rgb(240, 67, 96);
    margin-left: 15px;
}
.d2p3{
    border: 2px solid rgb(240, 67, 96);
    width: fit-content;
    padding: 5px;
    color: rgb(240, 67, 96);
    margin-left: 15px;
}
.d3{

    width: 25%;
    height: 375px ;
    background: whitesmoke;
    margin-left:73% ;
    margin-top: -25%;
}

.d3in{
    width: 100%;
    display: flex;
    background:rgb(51, 51, 51) ;
}
.d3in h5{
    width: 30%;
    padding: 5px;
    color: aliceblue;
   
}
.d3out span{
    width: 30%;
    font-weight: 600;
    margin-left: 15px;
}

.d4{
    margin-left: 50px;
    width: 35%;
    background: white;
    margin-top: 50px;
}
.img3{
    width: 100%;
    z-index: -1;
}
.d4p3{
    margin-top: -250px;
    margin-left: 15px;
    position: absolute;
    background: rgb(11, 199, 11);
    padding: 3px;
    color: whitesmoke;
}
.d4p1{
    width: 60%;
    margin-left: 15px;
}
.d4p2{
    width: 60%;
    margin-left: 15px;
    padding-bottom: 5px;
}

.d4in{
    background: rgb(51, 51, 51);
     width: 240px;
}

.d4r{
    width: 50%;
    margin-top: 15px;
    padding: 8px;
    color: aliceblue;
    border-radius: 3px;
    display: inline-block;
    border: 2px solid white;
    margin-left: 25px;
}
.d4r:hover{
    transition: 0.3s;
    background-color: antiquewhite;
    color: rgb(51, 51, 51);
}
.fa-regular{
    color: antiquewhite;
    margin-left: 15px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 3px;
}
.fa-regular:hover{
    transition: 0.3s;
    background-color: antiquewhite;
    color: rgb(51, 51, 51);
}





.d5{
    width: 25%;
    background: white;
    margin-left: 550px;
    margin-top: -450px;
}
.d5p3{
    margin-top: -150px;
    display: inline;
}

.img4{
    width: 100%;
    z-index: -1;
    height: 350px;
}
.d5p3{
    margin-top: -350px;
    position: absolute;
    margin-left: 15px;
    background: rgb(236, 146, 11);
    padding: 3px;
    color: whitesmoke;
    display: flex;
}
.d5p1{
    width: 60%;
    margin-left: 15px;
}
.d5p2{
    font-size: smaller;
    width: 60%;
    margin-left: 15px;
    padding-bottom: 5px;
}
.d5in{
    background: rgb(51, 51, 51);
     width: 240px;
}

.d5r{
    margin-top: 15px;
    padding: 8px;
    color: aliceblue;
    border-radius: 3px;
    display: inline-block;
    border: 2px solid white;
    margin-left: 25px;
}
.d5r:hover{
    transition: 0.3s;
    background-color: antiquewhite;
    color: rgb(51, 51, 51);
}
.fa-regular{
    color: antiquewhite;
    margin-left: 15px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 3px;
    word-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.d6{
    width: 25%;
    background: white;
    height: 432px;
    margin-left: 930px;
    margin-top: -550px;
}

.d6p{
    text-align: center;
    background: rgb(51, 51, 51);
    padding: 4px;
    color: aliceblue;
}
.d6p:hover{
    transition: 0.3s;
    background-color: antiquewhite;
    color: rgb(51, 51, 51);
}
.d6in{
    margin-left: 15px;
}
.d6pini{
    margin-top: -15px;
}
.d6c{
    border: 1px solid rgb(245, 137, 6);
    width: min-content;
    margin-left: 15px;
    background: rgb(255, 240, 180);
}
.d6c1{
    margin-left: 45px;
    color: gray;
    margin-top: 20px;
}
.d6c2{
    margin-left: 45px;
    margin-top: -19px;
    font-weight: 800;
    font-size: xx-large;
   
}
.fa-cloud-sun {
    display: inline;
    margin-left:130px;
    font-size: 90px;
    margin-top: -110px;
    display: inline-block;
    padding-right: 15px;
    color: rgb(245, 137, 6);
    padding-bottom:15px ;
}
.d6w1{
    margin-left:10px;
    color: gray;
    margin-top: 20px;
    border-right: 2px dotted grey ;
    width: 42px;
}
.d6wp2{
    color: black;
    margin-top: -15px;
}
.fa-cloud-sun-rain{
    color:rgb(245, 137, 6) ;
    font-size: larger;
}


.d6w2{
    margin-left:60px;
    margin-top: -90px;
    border-right: 2px dotted grey ;
    width: 42px;
}
.d6w11{
    color: grey;
}
.d6w22{
    color: black;
    margin-top: -15px;
}


.d6w3{
    margin-left:110px;
    margin-top: -90px;
    border-right: 2px dotted grey ;
    width: 42px;
}
.d6w111{
    color: grey;
}
.d6w222{
    color: black;
    margin-top: -15px;
}
.fa-cloud-moon{
    color:rgb(245, 137, 6);
    font-size: larger;
}


.d6w4{
    margin-left:160px;
    margin-top: -90px;
    width: 42px;
}
.d6w1111{
    color: grey;
}
.d6w2222{
    color: black;
    margin-top: -15px;
}
.fa-cloud-moon{
    color:rgb(24, 24, 24);
    font-size: larger;
}

.d6w{
    margin-left: 40px;
}





.d6last{
    background: rgb(196, 195, 195);
    width: fit-content;
    margin: 20px;
    padding: 5px;

}

.d6last p{
    display: inline;
    margin-left: 15px;
    margin-bottom: 20px;

}
.d6last i{
    display: flex;
    margin-left: 230px;
    margin-top: -16px;
}

.d7{
    margin-top: 50px;
    width: 35%;
    background: white;
    margin-left: 50px;
}

.img7{
    width: 100%;

}

.d7p1{
    margin-top: -250px;
    position: absolute;
    margin-left: 15px;
    background: rgb(111, 110, 109);
    padding: 3px;
    color: whitesmoke;
    display: flex;
}

.d7p2{
    margin-top: -50px;
    color: maroon;

}


.d8{
    width: 25%;
    background: white;
    margin-left: 550px;
    margin-top: -180px;
}
.d8p1{
    background: rgb(102, 193, 33);
    padding: 3px;
    color: whitesmoke;
    display: flex;
    margin-top: -120px;
    display: inline;
}

.d8p2{
    font-size: medium;
    font-weight: bold;
}

.d8p3{
    font-size: smaller;

}

.d8in{
    background: rgb(51, 51, 51);
     width: 240px;
}

.d8r{
    margin-top: 15px;
    padding: 8px;
    color: aliceblue;
    border-radius: 3px;
    display: inline-block;
    border: 2px solid white;
    margin-left: 25px;
}

.d8r:hover{
    transition: 0.3s;
    background-color: antiquewhite;
    color: rgb(51, 51, 51);
}
.fa-regular{
    color: antiquewhite;
    margin-left: 15px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 3px;
    word-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.d9{
    width: 25%;
    background: white;
    height: 300px;
    margin-left: 930px;
    margin-top: -280px;
}

.d9p{
    text-align: center;
    background: rgb(51, 51, 51);
    padding: 4px;
    color: aliceblue;
}
.img9{
    padding: 3px;
    width: 30%;
    height: 60px;

    }

.img92{
        padding: 3px;
        width: 30%;
        height: 60px;
        }
    
 .img93{
            padding: 3px;
            width: 30%;
            height: 60px;

  }

  .img94{
    padding: 5px;
    width: 30%;
    height: 60px;

}

.img95{
    padding: 3px;
    width: 30%;
    height: 60px;

}

.img96{
    padding: 3px;
    width: 30%;
    height: 60px;

}
.d10{
    margin-left: 50px;
    width: 70%;
    margin-top: -10px;
}
.d10p{
    text-align: center;
    background: rgb(51, 51, 51);
    padding: 4px;
    color: aliceblue;
}


        



